.personItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 10px auto;
  padding: 15px;
  user-select: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.delete {
  cursor: pointer;
  transition: 150ms;

  &:hover {
    color: lighten(#DD255B, 10%);
  }
}
